.grid-contacts {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px 20px;
  >* {
    align-self: center;
  }
}

.grid-locations {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px 2px;
  >* {
    align-self: center;
  }
}