.grid-contacts {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px 20px;
  >* {
    align-self: center;
  }
  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: center;
  }
}

.grid-locations {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px 2px;
  @include media-laptop {
    grid-gap: 26px 2px;
  }
  >* {
    align-self: center;
  }
  @include media-tablet {
    grid-gap: 32px 2px;
  }
}