.header {
  @include flex-box();
  @include media-tablet {
    flex-direction: column;
  }
}

.header__logo-burger {
  @include flex-box();
  @include media-tablet {
    width: 100%;
    z-index: 1;
  }
}

.header-wrapper {
  @include wrapper();
  @include media-laptop {
    padding: 30px 30px 25px;
  }
}


/* Our pets page */

.header-container {
  width: 100%;
  position: fixed;
  background-color: $color-light-xl;
  top: 0;
}

.our-pets .header-wrapper {
  @include wrapper($top: 30, $side: 40, $bottom: 30);
  @include media-laptop {
    padding: 30px 30px 30px;
  }
}