.header {
  @include flex-box();
}

.header-wrapper {
  width: $desktop-width;
  margin: auto;
  padding: 60px 40px;
}


/* Our pets page */

.our-pets .header-wrapper {
  width: $desktop-width;
  margin: auto;
  padding: 30px 40px;
}