.header {
  @include flex-box();
}

.header-wrapper {
  width: $desktop-width;
  margin: auto;
  padding: 60px 40px;
}


/* Our pets page */

.header-container {
  width: 100%;
  position: fixed;
  background-color: $color-light-xl;
  top: 0;
}

.our-pets .header-wrapper {
  width: $desktop-width;
  margin: auto;
  padding: 30px 40px;
}