/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Abstract */
/* primary colors */
/* basic sizes */
.logo__subtitle, body {
  font-family: "Arial", Verdana, sans-serif;
}

.slider__button, .slider__title, .logo__title, .button, h5, h4, h3, h2 {
  font-family: "Georgia", serif;
}

.footer__container h4 a, .donation__card, .list-item__img, .pets__button-primary, .intro__content .intro__button, .nav__link::after, .nav__list a, .navigation, .nav-wrapper, .up-btn, .slider__button, .slider__card, .logo {
  transition: all 0.3s ease-out;
}

/* Base */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0;
}

h2 {
  font-size: 4.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 5.72rem;
  letter-spacing: 0;
}

h3 {
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.55rem;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.65rem;
  letter-spacing: 0.06em;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.button {
  display: inline-block;
  padding: 13px 43px;
  font-size: 1.7rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  text-decoration: none;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  color: #292929;
  text-align: center;
}

.burger-container {
  width: 10%;
  display: none;
}
@media (max-width: 767.98px) {
  .burger-container {
    display: inline-block;
    position: fixed;
    top: 41px;
    right: 53px;
  }
}

.burger .line {
  width: 30px;
  height: 2px;
  background-color: #f1cdb3;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.our-pets .burger .line {
  background-color: #000000;
}

.burger:hover {
  cursor: pointer;
}

#burger-menu {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#burger-menu.nav__link_active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.logo {
  cursor: pointer;
}
.logo.nav__link_active {
  position: fixed;
  top: 30px;
}
@media (max-width: 767.98px) {
  .logo.nav__link_active {
    margin-left: calc(100vw - 320px);
  }
}
@media (max-width: 320px) {
  .logo.nav__link_active {
    margin-left: 0;
  }
}

.logo__title {
  margin: 0;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 3.52rem;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.logo__subtitle {
  padding-top: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: center;
}

/* Our pets page */
.our-pets .logo__title {
  color: #545454;
}

.our-pets .logo__subtitle {
  color: #292929;
}

.logo {
  cursor: pointer;
}
.logo.nav__link_active {
  position: fixed;
  top: 30px;
}
@media (max-width: 767.98px) {
  .logo.nav__link_active {
    margin-left: calc(100vw - 320px);
  }
}
@media (max-width: 320px) {
  .logo.nav__link_active {
    margin-left: 0;
  }
}

.logo__title {
  margin: 0;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 3.52rem;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.logo__subtitle {
  padding-top: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: center;
}

/* Our pets page */
.our-pets .logo__title {
  color: #545454;
}

.our-pets .logo__subtitle {
  color: #292929;
}

.rounded-btn {
  content: "";
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  background-position: center;
  background-repeat: no-repeat;
}
.rounded-btn.rounded-btn_active:hover {
  cursor: pointer;
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

.slider__arrow_left {
  background-image: url(../assets/icons/slider-icons/arrow-left.svg);
}
@media (max-width: 767.98px) {
  .slider__arrow_left {
    align-self: flex-end;
    position: absolute;
    left: 18%;
  }
}

.slider__arrow_right {
  background-image: url(../assets/icons/slider-icons/arrow-right.svg);
}
@media (max-width: 767.98px) {
  .slider__arrow_right {
    align-self: flex-end;
    position: absolute;
    right: 18%;
  }
}

.slider__cards {
  max-width: 990px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 90px;
}
@media (max-width: 1279.98px) {
  .slider__cards {
    column-gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .slider__cards {
    max-width: 270px;
    justify-content: flex-start;
    align-self: flex-start;
    margin: 0px auto;
  }
}

.slider__card {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
  cursor: pointer;
}
.slider__card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #ffffff;
}
.slider__card:hover .slider__button {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}
@media (max-width: 1279.98px) {
  .pets__slider .slider__card:last-child {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .pets__slider .slider__card:nth-of-type(2) {
    display: none;
  }
}

.slider__title {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.27rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.slider__button {
  width: 187px;
  margin-bottom: 30px;
  padding: 13px;
  font-size: 1.7rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}

.gallery-paginator__container {
  max-width: 340px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin: 60px auto;
}
@media (max-width: 960px) {
  .gallery-paginator__container {
    margin: 38px auto 32px;
  }
}
@media (max-width: 767.98px) {
  .gallery-paginator__container {
    margin: 41px auto 32px;
    justify-content: center;
    column-gap: 10px;
  }
}

.paginator_pre-pre {
  background-image: url(../assets/icons/paginator-icons/pre-pre.svg);
  background-size: 25px 11px;
}

.paginator_pre {
  background-image: url(../assets/icons/paginator-icons/pre.svg);
  background-size: 11px;
}

.paginator_next {
  background-image: url(../assets/icons/paginator-icons/next.svg);
}

.paginator_next-next {
  background-image: url(../assets/icons/paginator-icons/next-next.svg);
}

.paginator_inactive {
  border: 2px solid #cdcdcd;
}

.paginator_current {
  background-color: #f1cdb3;
  cursor: default;
}

@font-face {
  font-family: "Arial Regular", Verdana, sans-serif;
  src: url("../../assets/fonts/Arial/Arial-Regular.ttf");
}
@font-face {
  font-family: "Arial Italic", Verdana, italic;
  src: url("../../assets/fonts/Arial/Arial-Italic.ttf");
}
@font-face {
  font-family: "Georgia", Verdana, serif;
  src: url("../../assets/fonts/Georgia/georgia.ttf");
}
@font-face {
  font-family: "Georgia Italic", Verdana, italic;
  src: url("../../assets/fonts/Georgia/georgiai.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Georgia Bold", Verdana, serif;
  src: url("../../assets/fonts/Georgia/georgiab.ttf");
  font-weight: 700;
}
.up-btn {
  display: inline-block;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-image: url(../assets/icons/dif-icons/up-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transform: translateY(200%);
}
.up-btn:hover {
  filter: brightness(0.98);
}

.nav-wrapper {
  display: none;
  opacity: 0;
}

@media (max-width: 767.98px) {
  .nav-wrapper.nav__link_active {
    display: block;
    position: fixed;
    width: 100%;
    min-height: 823px;
    top: 0;
    background-color: #292929;
    opacity: 0.6;
  }
  .our-pets .nav-wrapper.nav__link_active {
    background-color: #fafafa;
  }
}

@media (max-width: 320px) {
  .nav-wrapper.nav__link_active {
    display: none;
    opacity: 0;
  }
}

/* Components */
@media (max-width: 767.98px) {
  .navigation {
    position: fixed;
    min-width: 320px;
    min-height: 823px;
    right: 0;
    top: 0;
    padding-top: 216px;
    background-color: #292929;
    transform: translateX(1000px);
    z-index: 1;
  }
  .navigation.nav__active {
    transform: translateX(0);
  }
  .our-pets .navigation {
    background-color: #ffffff;
    z-index: 1;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 443px;
  list-style: none;
  padding-inline-start: 0;
}
.nav__list a {
  color: #cdcdcd;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .nav__list {
    width: 100%;
    flex-direction: column;
    row-gap: 38px;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 51.2px;
    letter-spacing: 0;
  }
  .nav__list > * {
    margin: 0 auto;
    display: inline-block;
  }
}

.nav__link::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: #f1cdb3;
}
.nav__link a:hover {
  color: #fafafa;
}
.nav__link:hover::after {
  width: 100%;
}
.nav__link.nav__link_active {
  color: #fafafa;
}
.nav__link.nav__link_active::after {
  width: 100%;
}

/* Our pets page */
.our-pets .nav__list a {
  color: #545454;
}
.our-pets .nav__list a:hover {
  color: #292929;
}

.our-pets .nav__link_active a {
  color: #292929;
}

.intro {
  background: url(../assets/img/start-bg.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
@media (max-width: 767.98px) {
  .intro {
    overflow-x: hidden;
    position: relative;
  }
}

.intro-wrapper {
  max-width: 1279.98px;
  margin: auto;
  padding: 0px 40px 0px;
}
@media (max-width: 960px) {
  .intro-wrapper {
    padding: 0 30px 0;
  }
}
@media (max-width: 767.98px) {
  .intro-wrapper {
    padding: 0 20px 0;
  }
}
@media (max-width: 414px) {
  .intro-wrapper {
    padding: 0 10px 0;
  }
}

.intro__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
}
@media (max-width: 1279.98px) {
  .intro__container {
    flex-wrap: wrap;
  }
}

.intro__content {
  width: 42%;
  margin-top: 127px;
}
@media (max-width: 1279.98px) {
  .intro__content {
    margin-top: 85px;
  }
}
@media (max-width: 960px) {
  .intro__content {
    width: 65%;
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .intro__content {
    width: 100%;
    padding-top: 15px;
    text-align: center;
  }
}
.intro__content .intro__header {
  max-width: 310px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.25);
}
@media (max-width: 767.98px) {
  .intro__content .intro__header {
    max-width: 70%;
    margin: 20px auto;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 3.2rem;
    letter-spacing: 0.06em;
  }
}
.intro__content .intro__text {
  max-width: 460px;
  margin-bottom: 0;
  padding-top: 4px;
  color: #cdcdcd;
}
@media (max-width: 767.98px) {
  .intro__content .intro__text {
    width: 100%;
    margin: auto;
    padding-top: 22px;
  }
}
.intro__content .intro__button {
  margin-top: 42px;
  background-color: #f1cdb3;
}
@media (max-width: 960px) {
  .intro__content .intro__button {
    margin: 42px auto;
    display: block;
    width: 208px;
  }
}
.intro__content .intro__button:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
  box-shadow: 0px 0px 10px 10px rgba(24, 18, 23, 0.2);
}

.intro__image {
  width: 58%;
  line-height: 0;
}
@media (max-width: 960px) {
  .intro__image {
    width: 100%;
  }
}
.intro__image img {
  width: 100%;
  margin-top: 0.2rem;
}
@media (max-width: 960px) {
  .intro__image img {
    width: 100%;
    max-width: 80%;
    margin-top: 6rem;
    margin-left: auto;
    display: block;
  }
}
@media (max-width: 767.98px) {
  .intro__image img {
    max-width: 87%;
    margin-top: 6.25rem;
  }
}

.about {
  min-height: 588px;
  background-color: #ffffff;
}

.about__container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  column-gap: 10%;
}
@media (max-width: 1279.98px) {
  .about__container {
    column-gap: 3%;
  }
}
@media (max-width: 960px) {
  .about__container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 35px;
  }
}
@media (max-width: 767.98px) {
  .about__container {
    row-gap: 16px;
  }
}
.about__container img {
  width: 100%;
  padding-top: 20px;
}
@media (max-width: 767.98px) {
  .about__container img {
    padding-top: 0;
  }
}

.about-wrapper {
  max-width: 1279.98px;
  margin: auto;
  padding: 60px 40px 60px;
}
@media (max-width: 960px) {
  .about-wrapper {
    padding: 45px 30px 92px;
  }
}
@media (max-width: 767.98px) {
  .about-wrapper {
    padding: 30px 20px 60px;
  }
}
@media (max-width: 414px) {
  .about-wrapper {
    padding: 16px 10px 36px;
  }
}

.about__content {
  color: #545454;
}
@media (max-width: 767.98px) {
  .about__content {
    padding: 0 15px;
  }
}

.about__header {
  width: 370px;
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .about__header {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 3.2rem;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.about__text {
  max-width: 430px;
  margin: 25px 0;
}
@media (max-width: 767.98px) {
  .about__text {
    text-align: justify;
  }
}

@media (max-width: 414px) {
  .about__image {
    padding: 0 20px;
  }
}

.pets {
  min-height: 877px;
  background-color: #F6F6F6;
}
@media (max-width: 767.98px) {
  .pets {
    min-height: auto;
  }
}

.pets-wrapper {
  max-width: 1279.98px;
  margin: auto;
  padding: 45px 40px 40px;
}
@media (max-width: 960px) {
  .pets-wrapper {
    padding: 45px 30px 40px;
  }
}
@media (max-width: 960px) {
  .our-pets .pets-wrapper {
    padding: 45px 30px 45px;
  }
}
@media (max-width: 767.98px) {
  .our-pets .pets-wrapper {
    padding: 45px 10px 10px;
  }
}
@media (max-width: 767.98px) {
  .pets-wrapper {
    padding: 15px 15px 1px;
    overflow-x: hidden;
  }
}

.pets__header {
  text-align: center;
  color: #545454;
}
@media (max-width: 767.98px) {
  .pets__header {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 3.2rem;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.pets__slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 59px;
}
@media (max-width: 767.98px) {
  .pets__slider {
    position: relative;
    margin-top: 40px;
    min-height: 507px;
  }
}

.pets__button-primary {
  display: block;
  width: 261px;
  margin: 60px auto;
  padding: 13px;
  background-color: #f1cdb3;
  color: #292929;
  cursor: pointer;
}
.pets__button-primary:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}
@media (max-width: 767.98px) {
  .pets__button-primary {
    margin: 43px auto;
  }
}

/* pets page */
.our-pets .pets {
  min-height: 1342px;
  margin-top: 120px;
  background-color: #F6F6F6;
}
@media (max-width: 767.98px) {
  .our-pets .pets {
    margin-top: 92px;
  }
}
@media (max-width: 960px) {
  .our-pets .pets__header {
    margin-bottom: 30px;
  }
}

.pets__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 59px;
  row-gap: 30px;
}
@media (max-width: 960px) {
  .pets__gallery {
    justify-content: center;
    column-gap: 40px;
    margin-top: 0;
  }
}
@media (max-width: 767.98px) {
  .pets__gallery {
    max-width: 300px;
    margin: 43px auto 0;
  }
}

@media (max-width: 960px) {
  .hidden-for-laptop {
    display: none;
  }
}

@media (max-width: 1159.98px) {
  .hidden-for-laptop {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .hidden-for-tablet {
    display: none;
  }
}

.help {
  min-height: 611px;
  background-color: #ffffff;
}

.help-wrapper {
  max-width: 1279.98px;
  margin: auto;
  padding: 45px 40px 45px;
}
@media (max-width: 960px) {
  .help-wrapper {
    padding: 45px 30px 75px;
  }
}
@media (max-width: 767.98px) {
  .help-wrapper {
    padding: 15px 15px 23px;
  }
}

.help__header {
  text-align: center;
  color: #545454;
}
@media (max-width: 767.98px) {
  .help__header {
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 3.2rem;
    letter-spacing: 0.06em;
  }
}

.help__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 33px 120px;
  margin-top: 60px;
}
@media (max-width: 1279.98px) {
  .help__list {
    gap: 30px 15%;
  }
}
@media (max-width: 960px) {
  .help__list {
    gap: 30px 8.5%;
  }
}
@media (max-width: 767.98px) {
  .help__list {
    max-width: 400px;
    margin: 60px auto 0;
    justify-content: space-evenly;
    gap: 30px 0;
  }
}
@media (max-width: 414px) {
  .help__list {
    max-width: 300px;
    gap: 30px 3%;
    margin-top: 40px;
  }
}
@media (max-width: 375px) {
  .help__list {
    justify-content: space-between;
    gap: 6px 0;
  }
}

.help__list-item {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1279.98px) {
  .help__list-item {
    width: 170px;
  }
}
@media (max-width: 414px) {
  .help__list-item {
    width: 130px;
  }
}

.list-item__img {
  display: block;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 767.98px) {
  .list-item__img {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}

.help__list-item:nth-child(1) .list-item__img {
  background-image: url(../assets/icons/help-icons/icon-pet-food.svg);
}

.help__list-item:nth-child(2) .list-item__img {
  background-image: url(../assets/icons/help-icons/icon-transportation.svg);
}

.help__list-item:nth-child(3) .list-item__img {
  background-image: url(../assets/icons/help-icons/icon-toys.svg);
}

.help__list-item:nth-child(4) .list-item__img {
  background-image: url(../assets/icons/help-icons/icon-bowls-and-cups.svg);
}

.help__list-item:nth-child(5) .list-item__img {
  background-image: url(../assets/icons/help-icons/icon-shampoos.svg);
}

.help__list-item:nth-child(6) .list-item__img {
  background-image: url(../assets/icons/help-icons/icon-vitamins.svg);
}

.help__list-item:nth-child(7) .list-item__img {
  background-image: url(../assets/icons/help-icons/icon-medicines.svg);
}

.help__list-item:nth-child(8) .list-item__img {
  background-image: url(../assets/icons/help-icons/icon-collars-leashes.svg);
}

.help__list-item:nth-child(9) .list-item__img {
  background-image: url(../assets/icons/help-icons/icon-sleeping-area.svg);
}

.list-item__name {
  color: #545454;
  text-align: center;
  margin-top: 28px;
}
@media (max-width: 767.98px) {
  .list-item__name {
    margin-top: 24px;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.65rem;
    letter-spacing: 0.06em;
  }
}

.donation {
  min-height: 462px;
  background-color: #F6F6F6;
}

.donation-wrapper {
  max-width: 1279.98px;
  margin: auto;
  padding: 45px 40px 45px;
}
@media (max-width: 960px) {
  .donation-wrapper {
    padding: 45px 40px 99px;
  }
}
@media (max-width: 767.98px) {
  .donation-wrapper {
    padding: 15px 10px 44px;
  }
}

.donation__container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 30px;
}
@media (max-width: 960px) {
  .donation__container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    row-gap: 25px;
  }
}
@media (max-width: 767.98px) {
  .donation__container {
    row-gap: 5px;
  }
}

.donation__img {
  width: 505px;
  height: 261px;
  background-image: url(../assets/img/donation-dog.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 767.98px) {
  .donation__img {
    width: 100%;
    height: 135px;
  }
}

.donation__content {
  width: 380px;
  color: #545454;
}
@media (max-width: 767.98px) {
  .donation__content {
    width: 100%;
  }
}

.donation__header {
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .donation__header {
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 3.2rem;
    letter-spacing: 0.06em;
    margin-top: 28px;
    text-align: center;
  }
}

.donation__subheader {
  margin: 20px 0;
}
@media (max-width: 767.98px) {
  .donation__subheader {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.4rem;
    letter-spacing: 0.06em;
    margin: 20px 0;
    letter-spacing: 0;
    text-align: center;
  }
}

.donation__card {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 349px;
  height: 43px;
  background-color: #f1cdb3;
  border-radius: 9px;
}
.donation__card:hover {
  background-color: #fddcc4;
}
@media (max-width: 767.98px) {
  .donation__card {
    width: 281px;
    margin: auto;
  }
}

.donation__card-icon {
  content: "";
  display: inline-block;
  width: 30px;
  height: 23px;
  background-image: url("../assets/icons/donation-icons/credit-card.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.donation__card-number {
  display: inline-block;
  margin-left: 15px;
}
.donation__card-number a {
  text-decoration: none;
  color: #545454;
}
@media (max-width: 767.98px) {
  .donation__card-number {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.65rem;
    letter-spacing: 0.06em;
  }
}

.donation__legal-text {
  margin: 20px 0 35px;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.8rem;
  letter-spacing: 0;
  color: #B2B2B2;
}
@media (max-width: 767.98px) {
  .donation__legal-text {
    max-width: 300px;
    margin: 20px auto 35px;
    text-align: justify;
    padding: 0 10px;
  }
}

.footer {
  min-height: 350px;
  background: url(../assets/img/start-bg.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer-wrapper {
  max-width: 1279.98px;
  margin: auto;
  padding: 20px 40px 0px;
}
@media (max-width: 960px) {
  .footer-wrapper {
    padding: 20px 30px 0px;
  }
}
@media (max-width: 767.98px) {
  .footer-wrapper {
    padding: 20px 10px 0px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: start;
  min-height: 350px;
}
@media (max-width: 960px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.footer__container h4 {
  display: inline-block;
  margin: 0;
}
.footer__container h4 a {
  color: #f1cdb3;
  text-decoration: none;
}
.footer__container h4 a:hover {
  color: 2px solid #fddcc4;
}
@media (max-width: 767.98px) {
  .footer__container h4 {
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
  }
}

.footer__column {
  width: 25%;
}
@media (max-width: 960px) {
  .footer__column:nth-of-type(1) {
    width: 50%;
    padding: 0 34px;
  }
}
@media (max-width: 767.98px) {
  .footer__column:nth-of-type(1) {
    width: 100%;
    padding: 0 10px;
  }
}
.footer__column:nth-of-type(2) {
  margin-right: 2%;
}
@media (max-width: 960px) {
  .footer__column:nth-of-type(2) {
    width: 50%;
    margin-right: 0;
    padding: 0 18px;
  }
}
@media (max-width: 767.98px) {
  .footer__column:nth-of-type(2) {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 960px) {
  .footer__column:nth-of-type(3) {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .footer__column:nth-of-type(3) {
    padding-top: 34px;
  }
}
@media (max-width: 1279.98px) {
  .footer__column {
    width: 32%;
  }
  .footer__column:nth-of-type(2) {
    margin-right: 0;
  }
}
@media (max-width: 1279.98px) and (max-width: 767.98px) {
  .footer__column:nth-of-type(2) {
    margin-top: 30px;
  }
}

.footer__header {
  margin: 37px 0 0;
  color: #ffffff;
}
@media (max-width: 960px) {
  .footer__header {
    margin: 10px 0 0;
  }
}
@media (max-width: 767.98px) {
  .footer__header {
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 3.25rem;
    letter-spacing: 0.06em;
    padding: 0 20px;
    text-align: center;
  }
}

.footer__contacts {
  margin-top: 38px;
}
@media (max-width: 767.98px) {
  .footer__contacts {
    max-width: 300px;
    margin: 38px auto 0;
  }
}

.footer__locations {
  margin-top: 30px;
}
@media (max-width: 960px) {
  .footer__locations {
    margin-top: 32px;
  }
}
@media (max-width: 767.98px) {
  .footer__locations {
    max-width: 300px;
    margin: 40px auto 0;
  }
}

.footer__contact-text {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.contact-icon {
  content: "";
  display: block;
  width: 40px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.email {
  background-image: url(../assets/icons/contact-icons/icon-email.svg);
}

.tel {
  background-image: url(../assets/icons/contact-icons/icon-phone.svg);
}

.marker {
  width: 22px;
  background-image: url(../assets/icons/contact-icons/icon-marker.svg);
}

.footer__image {
  content: "";
  display: block;
  width: 300px;
  min-height: 330px;
  margin: auto;
  background-image: url(../assets/img/footer-puppy.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media (max-width: 960px) {
  .footer__image {
    min-height: 368px;
  }
}
@media (max-width: 767.98px) {
  .footer__image {
    min-height: 269px;
    width: auto;
  }
}

/* Layouts */
.grid-contacts {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px 20px;
}
.grid-contacts > * {
  align-self: center;
}
@media (max-width: 767.98px) {
  .grid-contacts {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: center;
  }
}

.grid-locations {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px 2px;
}
@media (max-width: 960px) {
  .grid-locations {
    grid-gap: 26px 2px;
  }
}
.grid-locations > * {
  align-self: center;
}
@media (max-width: 767.98px) {
  .grid-locations {
    grid-gap: 32px 2px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header {
    flex-direction: column;
  }
}

.header__logo-burger {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header__logo-burger {
    width: 100%;
    min-height: 60px;
    z-index: 2;
  }
}

.header-wrapper {
  max-width: 1279.98px;
  margin: auto;
  padding: 60px 40px 60px;
}
@media (max-width: 960px) {
  .header-wrapper {
    padding: 30px 30px 25px;
  }
}
@media (max-width: 414px) {
  .header-wrapper {
    padding: 30px 20px 25px;
  }
}
@media (max-width: 320px) {
  .header-wrapper {
    padding: 30px 10px 25px;
  }
}

/* Our pets page */
.header-container {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  top: 0;
}

.our-pets .header-wrapper {
  max-width: 1279.98px;
  margin: auto;
  padding: 30px 40px 30px;
}
@media (max-width: 960px) {
  .our-pets .header-wrapper {
    padding: 30px 30px 30px;
    z-index: 1;
  }
}
@media (max-width: 767.98px) {
  .our-pets .header-wrapper {
    padding: 30px 10px 30px;
  }
}

/*# sourceMappingURL=style.css.map */
