.logo {
  cursor: pointer;
}

.logo__title {
  @extend %font-additional;
  @include font(3.2rem, 3.52rem, $weight: 400);
  color: $color-primary;
}

.logo__subtitle {
  padding-top: 10px;
  @extend %font-primary;
  @include font(1.3rem, 1.5rem, $weight: 400, $spacing: 0.1em);
  color: $color-light-xl;
  text-align: center;
}