.logo {
  cursor: pointer;
  @extend %transition;
  &.nav__link_active {
    position: fixed;
    top: 30px;
    @include media-tablet {
      margin-left: calc(100vw - 320px);
    }
    @include media-mobile-small {
      margin-left: 0;
    }
  }
}

.logo__title {
  margin: 0;
  @extend %font-additional;
  @include font(3.2rem, 3.52rem, $weight: 400);
  color: $color-primary;
}

.logo__subtitle {
  padding-top: 10px;
  @extend %font-primary;
  @include font(1.3rem, 1.5rem, $weight: 400, $spacing: 0.1em);
  color: $color-light-xl;
  text-align: center;
}


/* Our pets page */

.our-pets .logo__title {
  color: $color-dark-l;
}

.our-pets .logo__subtitle {
  color: $color-dark-3xl;
}