.rounded-btn {
  border: 2px solid $color-dark-s;
  // &:hover {
  //   border: 2px solid $color-primary-light;
  //   background-color: $color-primary-light;
  // }
}

.gallery-paginator__container {
  max-width: 340px;
  @include flex-box();
  margin: 60px auto;
  @include media-laptop {
    margin: 38px auto 32px;
  }
  @include media-tablet {
    margin: 41px auto 32px;
    justify-content: center;
    column-gap: 10px;
  }
}

.paginator_pre-pre {
  background-size: 25px 11px;
  background-image: url(../assets/icons/paginator-icons/pre-pre.svg);
    &.paginator_active {
    background-image: url(../assets/icons/paginator-icons/pre-pre-active.svg);
    border: 2px solid $color-primary;
  }
  // &:hover {
  //   background-image: url(../assets/icons/paginator-icons/pre-pre-active.svg);
  // }
}

.paginator_pre {
  background-size: 11px;
  background-image: url(../assets/icons/paginator-icons/pre.svg);
    &.paginator_active {
    background-image: url(../assets/icons/paginator-icons/pre-active.svg);
    border: 2px solid $color-primary;
  }
  // &:hover {
  //   background-image: url(../assets/icons/paginator-icons/pre-active.svg);
  // }
}

.paginator_next {
  background-image: url(../assets/icons/paginator-icons/next.svg);
    &.paginator_active {
    background-image: url(../assets/icons/paginator-icons/next-active.svg);
    border: 2px solid $color-primary;
  }  
}

.paginator_next-next {
  background-image: url(../assets/icons/paginator-icons/next-next.svg);
    &.paginator_active {
    background-image: url(../assets/icons/paginator-icons/next-next-active.svg);
    border: 2px solid $color-primary;
  }  
}



.paginator_current {
  background-color: $color-primary;
  border: 2px solid $color-primary;
  cursor: default;
}