  .btns-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include media-tablet {      
      align-self: flex-end;
      position: absolute;
      &.btns-container_left {
        flex-direction: row-reverse;
        left: 18%;
      }
      &.btns-container_right {
        flex-direction: row;
        right: 18%;
      }
    }
  } 
  
  .rounded-btn {
    content: "";
    @include flex-box($flex: inline-flex, $justify: center);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid $color-primary;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 15px;
    &.rounded-btn_active {
      &:hover {
        cursor: pointer;
        border: 2px solid $color-primary-light;
        background-color: $color-primary-light;
      }
    }
  }
  
  .slider__arrow_left {
    background-image: url(../assets/icons/slider-icons/arrow-left.svg);
    display: none;
    @include media-desktop {      
      display: flex;
    }
  }

  .slider__arrow_left-three {
    background-image: url(../assets/icons/slider-icons/arrow-left-three.svg);
    display: flex;
    @include media-desktop {     
      display: none;
    }
  }
  
  .slider__arrow_right {
    background-image: url(../assets/icons/slider-icons/arrow-right.svg);
    display: none;
    @include media-desktop {
      display: flex;
    }
  }

  .slider__arrow_right-three {
    background-image: url(../assets/icons/slider-icons/arrow-right-three.svg);
    display: flex;
    @include media-desktop {     
      display: none;
    }
  }
  
  .slider__wrapper {
    position: relative;
    width: 1060px;
    height: 505px;
    margin: 0 auto;
    overflow-x: hidden;
    @include media-desktop {
      max-width: 650px;
      margin: 0 auto;
    }
    @include media-laptop {
      max-width: 580px;
    }
    @include media-tablet {
      max-width: 340px;
      margin-bottom: 35px;
    }
    @include media-mobile {
      max-width: 340px;
      padding: 0;
    }
    @include media-mobile-small {
      max-width: 270px;
    }
  }
  
  .carousel-container {
    position: absolute;
    height: 505px;
    left: 0;
    top: 0;
    @include flex-box();
    column-gap: 90px;
    padding-left: 35px;
    @include media-desktop {
      column-gap: 60px;
      padding-left: 25px;
    }
    @include media-laptop {
      column-gap: 40px;
      padding-left: 0;
    }
    @include media-tablet {
      padding-left: 35px;
    }
    @include media-mobile {
      padding-left: calc((100% - 270px) /2);
    }
  }
  
  .slider__card {
    @include flex-box();
    flex-direction: column;
    width: 270px;
    height: 435px;
    background-color: $color-light-s;
    border-radius: 9px;
    @extend %transition;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      background-color: $color-light-xl;
      .slider__button {
        border: 2px solid $color-primary-light;
        background-color: $color-primary-light;
      }
    }
  }
  
  .slider__title {
    @extend %font-additional;
    @include font(2rem, 2.27rem, $weight: 400);
    color: $color-dark-l;
  }
  
  .slider__button {
    width: 187px;
    margin-bottom: 30px;
    padding: 13px;
    @extend %font-additional;
    @include font(1.7rem, 2.2rem, $weight: 400);
    color: $color-dark-3xl;
    @extend %transition;
    cursor: pointer;
  }
  /* SLIDER ANIMATION */
  
  @keyframes move-right {
    from {
      left: -360px;
    }
    to {
      left: 0px;
    }
  }
  
  @keyframes move-right-desktop {
    from {
      left: -330px;
    }
    to {
      left: 0px;
    }
  }
  
  @keyframes move-right-laptop {
    from {
      left: -320px;
    }
    to {
      left: 0px;
    }
  }
  
  .transition-right {
    animation-name: move-right;
    animation-duration: 1s;
    @include media-desktop {
      animation-name: move-right-desktop;
    }
    @include media-desktop {
      animation-name: move-right-laptop;
    }
  }
  
  @keyframes move-left {
    from {
      left: 0px;
    }
    to {
      left: -360px;
    }
  }
  
  @keyframes move-left-desktop {
    from {
      left: 0px;
    }
    to {
      left: -330px;
    }
  }
  
  @keyframes move-left-laptop {
    from {
      left: 0px;
    }
    to {
      left: -310px;
    }
  }
  
  .transition-left {
    animation-name: move-left;
    animation-duration: 1s;
    @include media-desktop {
      animation-name: move-left-desktop;
    }
    @include media-desktop {
      animation-name: move-left-laptop;
    }
  }

/* SLIDER ANIMATION FOR DOUBLE CLICK*/
  
@keyframes three-move-right {
  from {
    left: -1080px;
  }
  to {
    left: 0px;
  }
}

@keyframes three-move-right-desktop {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}

@keyframes three-move-right-laptop {
  from {
    left: -930px;
  }
  to {
    left: 0px;
  }
}

.three-transition-right {
  animation-name: three-move-right;
  animation-duration: 1s;
  @include media-desktop {
    animation-name: three-move-right-desktop;
  }
  @include media-desktop {
    animation-name: three-move-right-laptop;
  }
}

@keyframes three-move-left {
  from {
    left: 0px;
  }
  to {
    left: -1080px;
  }
}

@keyframes three-move-left-desktop {
  from {
    left: 0px;
  }
  to {
    left: -990px;
  }
}

@keyframes three-move-left-laptop {
  from {
    left: 0px;
  }
  to {
    left: -930px;
  }
}

.three-transition-left {
  animation-name: three-move-left;
  animation-duration: 1s;
  @include media-desktop {
    animation-name: three-move-left-desktop;
  }
  @include media-desktop {
    animation-name: three-move-left-laptop;
  }
}
