  .rounded-btn {
    content: "";
    @include flex-box($flex: inline-flex, $justify: center);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid $color-primary;
    background-position: center;
    background-repeat: no-repeat;
    &.rounded-btn_active {
      &:hover {
        cursor: pointer;
        border: 2px solid $color-primary-light;
        background-color: $color-primary-light;
      }
    }
  }
  
  .slider__arrow_left {
    background-image: url(../assets/icons/slider-icons/arrow-left.svg);
    @include media-tablet {
      align-self: flex-end;
      position: absolute;
      left: 18%;
    }
  }
  
  .slider__arrow_right {
    background-image: url(../assets/icons/slider-icons/arrow-right.svg);
    @include media-tablet {
      align-self: flex-end;
      position: absolute;
      right: 18%;
    }
  }
  
  .slider__cards {
    max-width: 990px;
    @include flex-box();
    column-gap: 90px;
    @include media-desktop {
      column-gap: 40px;
    }
    @include media-tablet {
      max-width: 270px;
      justify-content: flex-start;
      align-self: flex-start;
      margin: 0px auto;
    }
  }
  
  .slider__card {
    @include flex-box();
    flex-direction: column;
    width: 270px;
    height: 435px;
    background-color: $color-light-s;
    border-radius: 9px;
    @extend %transition;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      background-color: $color-light-xl;
      .slider__button {
        border: 2px solid $color-primary-light;
        background-color: $color-primary-light;
      }
    }
    @include media-desktop {
      .pets__slider &:last-child {
        display: none;
      }
    }
    @include media-tablet {
      .pets__slider &:nth-of-type(2) {
        display: none;
      }
    }
  }
  
  .slider__title {
    @extend %font-additional;
    @include font(2rem, 2.27rem, $weight: 400);
    color: $color-dark-l;
  }
  
  .slider__button {
    width: 187px;
    margin-bottom: 30px;
    padding: 13px;
    @extend %font-additional;
    @include font(1.7rem, 2.2rem, $weight: 400);
    color: $color-dark-3xl;
    @extend %transition;
    cursor: pointer;
  }