@font-face {
  font-family: 'Arial Regular', Verdana, sans-serif;
  src: url("../../assets/fonts/Arial/Arial-Regular.ttf");
  //font-weight: 400;
}

@font-face {
  font-family: 'Arial Italic', Verdana, italic;
  src: url("../../assets/fonts/Arial/Arial-Italic.ttf");
  // font-weight: 400;
}

@font-face {
  font-family: 'Georgia', Verdana, serif;
  src: url("../../assets/fonts/Georgia/georgia.ttf");
  // font-weight: 400;
}

@font-face {
  font-family: 'Georgia Italic', Verdana, italic;
  src: url("../../assets/fonts/Georgia/georgiai.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia Bold', Verdana, serif;
  src: url("../../assets/fonts/Georgia/georgiab.ttf");
  font-weight: 700;
}