.about {
  min-height: 588px;
  background-color: $color-light-xl;
}

.about__container {
  @include flex-box($justify: center, $align: flex-start);
  column-gap: 10%;
  // @include media-desktop {
  //   margin-top: 85px;
  // }
  img {
    padding-top: 20px;
  }
}

.about-wrapper {
  @include wrapper();
}

.about__content {
  color: $color-dark-l;
}

.about__header {
  width: 370px;
  margin-bottom: 0;
}

.about__text {
  width: 430px;
  margin: 23px 0 25px;
}