.modal {
  //display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: -100%;
  &.modal-active {
    top: 0;
  }
}

.modal__wrapper {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  @extend %transition;
  .modal-active & {
    display: block;
  }
}

.modal__container {
  position: relative;
  width: 900px;
  min-height: 500px;
  margin: auto;
  top: -100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 9px;
  background-color: $color-light-s;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  @extend %transition;
  .modal-active & {
    top: 50%;
    @extend %transition;
  }
  @include media-laptop {
    width: 630px;
    min-height: 350px;
  }
  @include media-tablet {
    width: 240px;
    min-height: 341px;
  }
}

.modal__container-content {
  position: relative;
  max-height: 500px;
  @include flex-box($align: start);
  @include media-laptop {
    width: 630px;
    min-height: 350px;
  }
  @include media-tablet {
    width: 630px;
    min-height: 341px;
  }
}

.modal__img {
  width: 500px;
  height: 500px;
  @include media-tablet {
    display: none;
  }
  & img {
    width: 100%;
    border-radius: 9px 0px 0px 9px;
  }
  @include media-laptop {
    width: 350px;
    height: 350px;
  }
}

.modal__content {
  max-width: 351px;
  margin: 14px 20px 20px 29px;
  @include media-laptop {
    max-width: 260px;
    margin: 10px 9px 10px 10px;
  }
  @include media-tablet {
    max-width: 220px;
    margin: 10px;
  }
}

.modal__pet-name {
  margin: 35px 0 0px;
  @include media-laptop {
    margin: 1px 0 0px;
  }
  @include media-tablet {
    text-align: center;
  }
}

.modal__pet-type {
  margin: 9px 0 0;
  @include media-tablet {
    text-align: center;
  }
}

.modal__pet-description {
  margin: 41px 0 37px;
  @include media-laptop {
    @include font(1.3rem, 1.43rem);
    margin: 20px 0 0;
  }
}

.modal__pet-info {
  padding-left: 15px;
  & h5 {
    margin: 8px 0;
    @include media-laptop {
      margin: 3px 0;
    }
  }
  @include media-tablet {
    margin-bottom: 0;
  }
}

.bold-text {
  font-weight: 700;
}

.btn-close {
  position: absolute;
  top: -52px;
  right: -42px;
  background-image: url(../assets/icons/modal-icons/close-btn.svg);
  @extend %transition;
  cursor: pointer;
  &:hover {
    background-color: $color-primary-light;
  }
  @include media-tablet {
    right: -30px;
  }
}

.modal-no-scroll {
  overflow: hidden;
  margin-left: -17px;
  @include media-laptop {
    margin-left: 0;
  }
}