.navigation {
  @extend %transition;
  @include media-tablet {
    position: fixed;
    width: calc(100% - 20px);
    min-width: 320px;
    min-height: 823px;
    right: 0;
    top: 0;
    padding-top: 250px;
    background-color: $color-dark-3xl;
    transform: translateX(1000px);
    z-index: 1;
    &.nav__link_active {
      transform: translateX(0);
    }
  }
}

.nav__list {
  @include flex-box($align: flex-start);
  width: 443px;
  list-style: none;
  padding-inline-start: 0;
  a {
    color: $color-dark-s;
    text-decoration: none;
    @extend %transition;
  }
  @include media-tablet {
    width: 100%;
    flex-direction: column;
    @include font($size: 32px, $height: 51.2px, $spacing: 0);
    >* {
      margin: 0 auto;
      display: inline-block;
    }
  }
}

.nav__link {
  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: $color-primary;
    @extend %transition;
  }
  a:hover {
    color: $color-light-s;
  }
  &:hover::after {
    width: 100%;
  }
}

.nav__link_active {
  a {
    color: $color-light-s;
  }
  &::after {
    width: 100%;
  }
}


/* Our pets page */

.our-pets .nav__list {
  a {
    color: $color-dark-l;
    &:hover {
      color: $color-dark-3xl;
    }
  }
}

.our-pets .nav__link_active {
  a {
    color: $color-dark-3xl;
  }
}