.pets {
  height: 877px;
  background-color: $color-light-l;
}

.pets-wrapper {
  width: $desktop-width;
  margin: auto;
  padding: 45px 40px;
}

.pets__header {
  text-align: center;
  color: $color-dark-l;
}

.pets__slider {
  @include flex-box();
  margin-top: 59px;
}

.pets__button-primary {
  display: block;
  width: 261px;
  margin: 60px auto;
  padding: 13px;
  background-color: $color-primary;
  color: $color-dark-3xl;
  @extend %transition;
  cursor: pointer;
  &:hover {
    border: 2px solid $color-primary-light;
    background-color: $color-primary-light;
  }
}


/* pets page */

.our-pets {
  .pets {
    height: 1342px;
    margin-top: 120px;
    background-color: $color-light-l;
  }
}

.pets__gallery {
  @include flex-box($wrap: wrap);
  margin-top: 59px;
  row-gap: 30px;
}